body {
	padding: 0px;
	margin: 0px;
	font-family: "Arial", Sans-Serif;
}
#header {
	/* overall height of 100px */
	background-color: #CCCCCC;
	border: 1px solid black;
	height: 78px;
	margin: 5px;
	padding: 5px;
}
#header h1 {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
}
#navigation {
	background-color: #CCCCCC;
	border: 1px solid black;
	width: 150px;
	position: absolute;
	left: 5px;
	top: 100px;
	bottom: 5px;
	padding: 5px 0px 0px 5px;
}
#navigation ol {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
#content {
	background-color: #FFFFFF;
	border: 0px solid black;
	position: absolute;
	left: 167px;
	right: 217px;
	padding: 5px 0px 0px 5px;
}
#content p {
	margin: 0px 5px 5px 0px;
}
#comment {
	background-color: #CCCCCC;
	border: 1px solid black;
	width: 200px;
	position: absolute;
	right: 5px;
	top: 100px;
	bottom: 5px;
	padding: 5px 0px 0px 5px;
}
